body{
    text-align: center;
    font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
button{
    background-color: #ee5253;
    padding: 15px 60px;
    color: #fff;
    margin: 20px 50px;
    border: 0px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    transition: 0.5s;
}
button:hover{
    background-color: #6ab04c;
}